$img-src: '/assets/images';
$img-spacemen: '/assets/images/bg/Bkg-Header.png';
$img-world-map: '/assets/images/bg/World map.svg';
$img-quote: '/assets/images/icon/Testimony-ICN.svg';

$img-ico-instagram-primary: '/assets/images/icon/instagram-logo.png';
$img-ico-instagram-secondary: '/assets/images/icon/instagram.png';

$img-ico-facebook-primary: '/assets/images/icon/facebook-logo-button copy.png';
$img-ico-facebook-secondary: '/assets/images/icon/facebook.png';

$img-ico-twitter-primary: '/assets/images/icon/social copy.png';
$img-ico-twitter-secondary: '/assets/images/icon/twitter.png';

$img-ico-linkedin-primary: '/assets/images/icon/linkedin-button copy.png';
$img-ico-linkedin-secondary: '/assets/images/icon/linked.png';

$img-ico-youtube-primary: '/assets/images/icon/youtube-logotype.png';
$img-ico-youtube-secondary: '/assets/images/icon/youtube.png';

$img-ico-checkmark: '/assets/images/home/checkmark.png';
