# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

# tests
test
coverage

# build tools
.travis.yml
.jenkins.yml
.codeclimate.yml
webpack.*

# linters
.jscsrc
.jshintrc
.eslintrc*

# editor settings
.idea/
.editorconfig

# local env settings
local.conf.json